# DP Aggregate Seeded Synthesizer

In [15]:
import pandas as pd

from sdssynth import init_logger, set_number_of_threads
from sdssynth import Dataset
from sdssynth import DpAggregateSeededParametersBuilder, AccuracyMode, FabricationMode
from sdssynth import DpAggregatedSeededSynthesizer, Dataset

from utils import gen_dataset

## Generating an example data frame with random data

In [16]:
number_of_records_to_generate = 6000

sensitive_df = gen_dataset(number_of_records_to_generate)

## Creating the sensitive dataset

In [17]:
sensitive_dataset = Dataset.from_data_frame(sensitive_df)

## Generating the synthetic data

In [18]:
reporting_length = 4

builder = DpAggregateSeededParametersBuilder() \
    .reporting_length(reporting_length) \
    .epsilon(0.9) \
    .accuracy_mode(AccuracyMode.prioritize_large_counts()) \
    .fabrication_mode(FabricationMode.uncontrolled()) \
    .use_synthetic_counts(True)

synth = DpAggregatedSeededSynthesizer(builder.build())

synth.fit(sensitive_dataset)

synthetic_raw_data = synth.sample(len(sensitive_df))
synthetic_dataset = Dataset(synthetic_raw_data)

synthetic_df = Dataset.raw_data_to_data_frame(synthetic_raw_data)

## Generating/exporting aggregated data

In [19]:
sensitive_aggregates = sensitive_dataset.get_aggregates(reporting_length, ';')

dp_aggregates = synth.get_dp_aggregates(';')

synthetic_aggregates = synthetic_dataset.get_aggregates(reporting_length, ';')

## Evaluate

In [20]:
sensitive_df.replace('', '0').astype('int').describe()

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10
count,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,0.985500,2.636333,4.579667,0.498833,0.492500,0.497500,0.501667,0.487833,0.501000,0.494833
std,0.817966,2.121202,3.312474,0.500040,0.499985,0.500035,0.500039,0.499894,0.500041,0.500015
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.000000,5.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,2.000000,5.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,2.000000,6.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
synthetic_df.replace('', '0').astype('int').describe()

,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10
count,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,0.920333,2.285000,3.963333,0.475500,0.477500,0.493833,0.489333,0.484000,0.482333,0.493500
std,0.833728,2.175752,3.480087,0.499441,0.499535,0.500004,0.499928,0.499786,0.499729,0.499999
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,4.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,2.000000,6.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000